<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benjamin.dao.PointsFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.benjamin.entities.PointsFlow">
        <id column="id" property="id" />
        <result column="president_id" property="presidentId" />
        <result column="party_id" property="partyId" />
        <result column="state_id" property="stateId" />
        <result column="points" property="points" />
        <result column="type" property="type" />
        <result column="enable" property="enable" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, president_id, party_id, state_id, points, type, enable, create_time, update_time
    </sql>

</mapper>
