<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benjamin.dao.PresidentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.benjamin.entities.President">
        <id column="id" property="id" />
        <result column="president_name" property="president_name" />
        <result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="birth_place" property="birth_place" />
        <result column="deathday" property="deathday" />
        <result column="location_of_death" property="location_of_death" />
        <result column="is_alive" property="is_alive" />
        <result column="term_of_office" property="term_of_office" />
        <result column="term_start_time" property="term_start_time" />
        <result column="term_end_time" property="term_end_time" />
        <result column="is_skip_term" property="is_skip_term" />
        <result column="other_term_start_time" property="other_term_start_time" />
        <result column="other_term_end_time" property="other_term_end_time" />
        <result column="type" property="type" />
        <result column="party_id" property="party_id" />
        <result column="state_id" property="state_id" />
        <result column="status" property="status" />
        <result column="create_time" property="create_time" />
        <result column="update_time" property="update_time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, president_name, gender, birthday, birth_place, deathday, location_of_death, is_alive, term_of_office, term_start_time, term_end_time, is_skip_term, other_term_start_time, other_term_end_time, type, party_id, state_id, status, create_time, update_time
    </sql>

</mapper>
