<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benjamin.dao.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.benjamin.entities.SysRole">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="role_desc" property="roleDesc" />
        <result column="enable" property="enable" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, role_desc, enable, sort, create_time, update_time
    </sql>



    <!-- 角色列表 -->
    <select id="sysRoleList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role sr
        <where>
            <if test="enable == true">
                sr.enable = 1
            </if>
        </where>
        ORDER BY sr.enable DESC, sr.sort ASC, sr.id ASC
    </select>

    <!-- 角色名是否存在 -->
    <select id="roleNameExist" resultType="java.lang.Integer">
        SELECT EXISTS (
        SELECT *
        FROM sys_role sr
        WHERE sr.role_name = #{roleName,jdbcType=VARCHAR}
        )
    </select>

    <!-- 批量删除/恢复 角色（逻辑） -->
    <update id="resetSysRolesByIds">
        UPDATE sys_role
        SET enable = #{enable,jdbcType=NUMERIC}
        WHERE id IN
        <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </update>
</mapper>
